.session-form {
  display: flex;
  height: 50%;
  max-height: 300px;
  flex-direction: column;
  justify-content: space-between;
  width: 17vw;

  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0px 2px 3px lightgrey;

  background-color: white;

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
    padding: 10px;
  }

  #sessionform-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    border: 1px solid lightgray;
  }

  #sessionform-button:enabled {
    background-color: #d2bfdb;
  }


}

#signup-page {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#signup-text {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 3px lightgrey;
  border-radius: 15px;
  font-size: 30px;

  p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
      -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


