// .session-form {
//   display: flex;
//   height: 50%;
//   max-height: 300px;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 17vw;

//   padding: 20px;
//   border: 1px solid lightgray;
//   border-radius: 15px;
//   box-shadow: 0px 2px 3px lightgrey;

//   background-color: white;

//   h2 {
//     font-size: 30px;
//     margin-bottom: 10px;
//   }

//   input {
//     margin-bottom: 10px;
//     padding: 10px;
//   }

//   .sessionform-button {
//     padding: 10px;
//     border-radius: 5px;
//     border: none;
//     background-color: whitesmoke;
//     border: 1px solid lightgray;
//   }

//   .sessionform-button:enabled {
//     background-color: #d2bfdb;
//   }

// }

// #signup-page {
//   display: flex;
//   height: 100%;
//   width: 100%;
//   align-items: center;
//   justify-content: space-evenly;
// }

// #signup-text {
//   background-color: white;
//   padding: 20px;
//   box-shadow: 0px 2px 3px lightgrey;
//   border-radius: 15px;
//   font-size: 30px;

//   p {
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }
//       -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
//        -moz-animation: fadein 1.5s; /* Firefox < 16 */
//         -ms-animation: fadein 1.5s; /* Internet Explorer */
//          -o-animation: fadein 1.5s; /* Opera < 12.1 */
//             animation: fadein 1s;

//   @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
//   }

//   /* Firefox < 16 */
//   @-moz-keyframes fadein {
//       from { opacity: 0; }
//       to   { opacity: 1; }
//   }

//   /* Safari, Chrome and Opera > 12.1 */
//   @-webkit-keyframes fadein {
//       from { opacity: 0; }
//       to   { opacity: 1; }
//   }

//   /* Internet Explorer */
//   @-ms-keyframes fadein {
//       from { opacity: 0; }
//       to   { opacity: 1; }
//   }

//   /* Opera < 12.1 */
//   @-o-keyframes fadein {
//       from { opacity: 0; }
//       to   { opacity: 1; }
//   }
// }

// .form-container {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --linear-grad: linear-gradient(to right, #141e30, #243b55);
  --grad-clr1: #141e30;
  --grad-clr2: #243b55;
}

.outer-form-container {
  position: relative;
  width: 850px;
  height: 600px;
  background-color: #fff;
  box-shadow: 25px 30px 55px #5557;
  border-radius: 13px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0px 40px;
  transition: all 0.6s ease-in-out;
}

.sign-up-container {
  opacity: 0;
  z-index: 1;
}

.sign-in-container {
  z-index: 2;
}

.session-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.input-auth-field {
  width: 100%;
}

.form-container h1 {
  font-size: 30px;
  color: var(--grad-clr1);
}

.infield {
  position: relative;
  margin: 8px 0px;
  width: 100%;
}

.outer-form-container button {
  border-radius: 20px;
  border: 1px solid var(--grad-clr1);
  background: var(--grad-clr2);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-container button {
  margin-top: 17px;
  transition: 80ms ease-in;
}

.form-container button:hover {
  background: #fff;
  color: var(--grad-clr1);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 9;
}

#overlayBtn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 304px;
  transform: translateX(-50%);
  width: 143.67px;
  height: 40px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 20px;
}

.overlay {
  position: relative;
  background: var(--linear-grad);
  color: #FFF;
  left: -150%;
  height: 100%;
  width: 250%;
  transition: transform 0.6s ease-in-out;

}

.overlay-panel {
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  height: 100%;
  width: 340px;
  transition: 0.6s ease-in-out
}

.overlay-left {
  right: 60%;
  transform: translateX(-12%);
}

.overlay-right {
  right: 0;
  transform: translateX(0%);
}

.overlay-panel h1 {
  color: #FFF;
}

.overlay-panel p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 25px 0px 0px;
}

.overlay-panel button {
  border: none;
  background-color: transparent;
}

.right-panel-active .overlay-container {
  transform: translateX(-150%);
}

.right-panel-active .overlay {
  transform: translateX(50%);
}

.right-panel-active .overlay-left {
  transform: translateX(25%);
}

.right-panel-active .overlay-right {
  transform: translateX(35%);
}

.right-panel-active .sign-in-container {
  transform: translateX(20%);
  opacity: 0;
}

.right-panel-active .sign-up-container {
  transform: translateX(66.7%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 50% {
    opacity: 0;
    z-index: 1;
  }
  50.1%, 100% {
    opacity: 0;
    z-index: 5;
  }
}

.btnScaled {
  animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
  0% {
    width: 143.67px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 143.67px;
  }
}