.comments-form {
  display: block;
  margin-left: calc(2.5rem + 5px);
  margin-top: 3rem;
}

.comments-form-button {
  display: flex;
  justify-content: flex-end;
}

.ub-mb_24px {
  margin-bottom: 0;
}

.comments-form-input {
  width: 100%;
}
