.post-show {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1400px) {
  .post-show {
    width: 80%;
  }
}

@media all and (max-width: 1100px) {
  .post-show {
    width: 100%;
  }
}

.post-show-title {
  width: 100%;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
  color: #333;
  margin-top: 10%;
}

.post-show-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  padding-bottom: 5%;
}

.post-show-left {
  background-color: yellow;
  width: 60%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px gainsboro;
  background-color: white;
}

.post-image-container {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-image {
  max-width: 100%;
  height: auto;
  max-height: 45vh;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}

.post-show-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post-show-buttons button {
  color: black !important;
}

.post-show-edit-button {
  background-color: var(--grad-clr2) !important;
  color: black !important;
}

.post-show-edit-button:hover {
  background-color: var(--grad-clr1) !important;
}

.post-show-delete-button {
  margin-left: 7px !important;
}

.post-body {
  margin-top: 10px;
}

.post-show-right {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  background-color: white;
  margin-left: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px gainsboro;
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  span {
    font-size: 20px;
    color: gray;
  }

  .progress {
    height: 20px;
    color: blue;
    margin-bottom: 20px;

    .progress-bar {
      height: 100%;
    }
  }

  .toggle-button {
    height: 50%;
    padding: 5px;
    border-radius: 20px;
    background-color: #2397c1;
    color: white;
    border: none;
  }

  .toggle-button:hover {
    background-color: #074d81;
  }

  .status-circle {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .green {
    background-color: #006a4e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }

  .red {
    background-color: #e32636;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }
}

.post-show-bottom {
  display: block;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  height: 80px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-show-author {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.post-show-author p {
  margin-bottom: 0;
}

.post-show-author-name {
  font-weight: 600;
}
