.post-show {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  height: fit-content;
}

.post-show-title {
  width: 100%;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
  color: #333;
  margin-top: 10%;
}

.post-show-container {
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-show-left {
  background-color: yellow;
  width: 65%;
  padding: 1px;
}

.post-image-container {
  width: 100%;
  height: 45vh;
}

.post-image {
  width: 100%;
  height: 100%;
}

.post-show-right {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  background-color: white;
  margin-left: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px gainsboro;
  width: 35%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  span {
    font-size: 20px;
    color: gray;
  }

  .progress {
    height: 20px;
    color: blue;
    margin-bottom: 20px;

    .progress-bar {
      height: 100%;
    }
  }

  .post-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid gray;

    p {
      height: 50%;
      text-transform: capitalize;
      margin-bottom: 0px;
    }

    .first-p {
      width: 20%;
    }
  }

  .toggle-button {
    height: 50%;
    padding: 5px;
    border-radius: 20px;
    background-color: #2397c1;
    color: white;
    border: none;
  }

  .toggle-button:hover {
    background-color: #074d81;
  }

  .item-labels {
    display: flex;
    margin-left: 27%;
  }

  #label-2 {
    margin-top: 10%;
    margin-right: 11%;
  }
}

.post-show-bottom {
  display: block;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  height: 60px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-show-author {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
