.posts-index-page {
  width: 60%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 100px;
}

.posts-index-title {
  width: 100%;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-width: 865px;
  margin: auto;
  background-color: #ffed91;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px gainsboro;
}
