.navbar {
  position: fixed !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  transition: 0.6s;
  padding: 30px 100px;
  z-index: 1;
  top: 20px;
  left: 0;
  transform: translate(calc(50vw - 50%));
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  width: 80%;
  min-width: 850px;
  background: var(--grad-clr2);
  height: 48px;
}

.navbar .logo {
  position: relative;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 21.5px;
  letter-spacing: 2px;
  transition: 0.6s;
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.sticky {
  width: 100vw;
  background-color: var(--grad-clr2);
  border-radius: 0;
  top: 0;
  left: 0;
  transform: 0;
  position: fixed;
  overflow-y: scroll;
}

.sticky .logo,
.sticky ul li a {
  color: black;
}

.navbar a {
  border-radius: 20px;
  padding: 11px 10px;
}

.links-auth a, .links-nav a {
  padding: 14px 10px 14px;
}

.navbar a:hover {
  scale: 1.1;
  background: #fff;
  color: var(--grad-clr1);
}

.login-button {
  padding: 8px;
  border-radius: 15px;
}

.login-button:hover {
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.1);
}

.logo-image {
  scale: 2;
  position: relative;
  top: -4px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left a {
  text-decoration: none;
  color: black;
}

.navbar-about {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.navbar-about a {
  padding: 13.5px 10px 13.5px;
}
