.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 48px;
  background-color: white;
  width: 100vw;
  z-index: 1;
}

.NavBar button {
  height: 20px;
}

.links-nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.links-auth {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
