.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 30px 100px;
  z-index: 1;
  top: 20px;
  left: 0;
  transform: translate(calc(50vw - 50%));
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  width: 60%;
  min-width: 850px;
  background-color: white;
  height: 48px;
}

.navbar .logo {
  position: relative;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.sticky {
  width: 100vw;
  background-color: white;
  border-radius: 0;
  top: 0;
  left: 0;
  transform: 0;
}

.sticky .logo,
.sticky ul li a {
  color: black;
}
