.posts-index-item {
  display: flex;
  background-color: #d2bfdb;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  width: 100%;
  height: 10vh;

  .item-image {
    margin-right: 10px;
  }

  .item-text {
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
      padding-bottom: 10px;
    }
  }
}
