.posts-form-container {
  width: 60%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  min-width: 850px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px gainsboro;
  display: flex;
  flex-direction: column;
}

.posts-form-header {
  width: 100%;
}

.posts-form-topic-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.posts-form-topic {
  width: 50%;
  display: block;
}

.posts-form-title-container {
  width: 100%;
  margin-bottom: 10px;
}

.posts-form-title {
  width: 100%;
}

.posts-form-body {
  width: 100%;
}

.posts-form-image-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.posts-form-image-container {
  width: 50%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  aspect-ratio: 1 / 1;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-form-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ub-pt_8px {
  padding: 0;
}

.remove-item-button {
  margin-right: 10px;
}

.add-item-button {
  margin-top: 5px;
  margin-left: 10px;
}

.create-button {
  margin-top: 15px;
  margin-left: 10px;
}
