.posts-form-container {
  width: 60%;
  height: 100%;
  margin: auto;
  margin-top: 110px;
  min-width: 850px;
  background-color: #FFED91;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px gainsboro;
}

.posts-form {
  height: 100%;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ub-pt_8px {
  padding: 0;
}

.remove-item-button {
  margin-right: 10px;
}

.add-item-button {
  margin-top: 5px;
  margin-left: 10px;
}

.create-button {
  margin-top: 15px;
  margin-left: 10px;
}
